h1 {
  color: green;
  font-family: inherit;
  font-style: normal;
}

h3 {
  font-style:normal;
  text-align: left;
}

p {
  font-family: inherit;
  font-style:normal;
  font-size: 20px;
  line-height: 30px;
}

ul {
  font-size: 20px;
  line-height: 30px;
  font-family:inherit;
}
